@model Library.MVC.Models.BookIndexVm;

@{
    ViewData["Title"] = "Admin";
}

<h4>Administrera bibliotekets tillgångar</h4>

<p>
    <a asp-action="Create">Lägg till ny bok</a>
    <br />
    <a asp-action="Add">Lägg till exemplar av existerande bok</a>
</p>

Sök efter Böcker
@using (Html.BeginForm("Admin", "Books", FormMethod.Get))
{
@Html.TextBox("searching")
<input type="submit" value="Sök" />
}
<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Titel</th>
            <th>Författare</th>
            <th>Beskrivning</th>
            <th>Exemplar</th>
            <th>Tillgängliga</th>
            <th>Utlånade</th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        @foreach (var book in Model.Books)
        {
        string shortDescription = new string(book.Description.Take(50).ToArray()) + "...";
        int copies = 0;
        if (book.Copies != null)
        {
        copies = book.Copies.Count;
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => book.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Title)
            </td>
            <td>
                <a asp-controller="Authors" asp-action="Books" asp-route-id="@book.AuthorId">@Html.DisplayFor(modelItem => book.Author.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => shortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => copies)
            </td>
            @{int availableToLoan = 0;
                foreach (var copy in book.Copies)
                {
                if (!copy.OnLoan)
                {
                availableToLoan++;
                }
                }
                int onLoan = copies - availableToLoan;
            }
            <td>
                @Html.DisplayFor(modelItem => availableToLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => onLoan)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@book.Id">Redigera</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@book.Id">Detaljer</a>
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@book.Id">Radera</a>
            </td>
        </tr>


        }
    </tbody>


</table>
