@model Library.MVC.Models.BookIndexVm;

@{
    ViewData["Title"] = "Index";
}
<h1>Böcker</h1>

<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Titel</th>
            <th>Författare</th>
            <th>Beskrivning</th>
            <th>Exemplar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var bookDetail in Model.Details)
            {
                string shortDescription = new string(bookDetail.Description.Take(50).ToArray()) + "...";
                int copies = 0;
                if(bookDetail.Copies != null)
                {
                    copies = bookDetail.Copies.Count();
                }
                if (copies > 0)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => bookDetail.ISBN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => bookDetail.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => bookDetail.Author.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => shortDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => copies)
                        </td>
                        <td>
                            <a asp-action="Loan" asp-route-id="@bookDetail.Id">Låna</a>
                        </td>
                    </tr>
                }
            }

        }
    </tbody>
</table>
