@model Library.MVC.Models.BookIndexVm;

@{
    ViewData["Title"] = "Böcker";
}
<h1>Böcker</h1>
Sök efter Böcker
@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    @Html.TextBox("search")
    <input type="submit" value="Sök" />
}

<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Titel</th>
            <th>Författare</th>
            <th>Beskrivning</th>
            <th>Exemplar</th>
            <th>Tillgängliga</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var book in Model.Books)
            {
                string shortDescription = new string(book.Description.Take(50).ToArray()) + "...";
                int copies = 0;
                if (book.Copies != null)
                {
                    copies = book.Copies.Count();
                }
                if (copies > 0) //Only show books that has any copies in the library
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => book.ISBN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => book.Title)
                        </td>
                        <td>
                            <a asp-controller="Authors" asp-action="Books" asp-route-authorId="@book.AuthorId">@Html.DisplayFor(modelItem => book.Author.Name)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => shortDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => copies)
                        </td>
                        @{int availableToLoan = 0;
                            foreach (var copy in book.Copies)  //Count how many copies are available to loan
                            {
                                if (!copy.OnLoan)
                                {
                                    availableToLoan++;
                                }
                            }
                        }
                        <td>
                            @Html.DisplayFor(modelItem => availableToLoan)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@book.Id">Detaljer</a>
                        </td>
                        <td>
                            @if (availableToLoan > 0)  //Only show loan button if there is any books available to loan
                            {
                                <a class="btn btn-success" asp-controller="Loans" asp-action="Make" asp-route-id="@book.Id">Låna</a>
                            }
                        </td>
                    </tr>
                }
            }

        }
    </tbody>
</table>
