@model Library.MVC.Models.BookIndexVm;

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Titel</th>
            <th>Författare</th>
            <th>Beskrivning</th>
            <th>Exemplar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var bookDetail in Model.Details)
            {
                foreach (var book in Model.Books)
                {
                    if (book.DetailsId == bookDetail.Id)
                    {
                        bookDetail.Copies++;
                    }
                }
                if (bookDetail.Copies != 0)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => bookDetail.ISBN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => bookDetail.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => bookDetail.Author.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => bookDetail.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => bookDetail.Copies)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@bookDetail.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@bookDetail.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@bookDetail.Id">Delete</a>
                        </td>
                    </tr>
                }

            }
        }
    </tbody>
</table>
