@model Library.MVC.Models.MemberIndexVm

@{
    ViewData["Title"] = "Medlemmar";
}

<h1>Medlemmar</h1>

<p>
    <a asp-action="Create">Lägg till ny medlem</a>
</p>

Sök efter medlem
@using (Html.BeginForm("Index", "Members", FormMethod.Get))
{
@Html.TextBox("search")
<input type="submit" value="Sök" />
}
<table class="table">
    <thead>
        <tr>
            <th>SSN</th>
            <th>Namn</th>
            <th>Avgifter</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fees) SEK
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Redigera</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </td>
        </tr>
        }
    </tbody>
</table>
