@model Library.MVC.Models.LoansVm;

@{
    ViewData["Title"] = "Lån";
}
<h1>Boklån</h1>Sök efter lån
@using (Html.BeginForm("Index", "Loans", FormMethod.Get))
{
    @Html.TextBox("search")
    <input type="submit" value="Sök" />
}
<table class="table">
    <thead>
        <tr>
            <th>Medlem</th>
            <th>Bok</th>
            <th>Utlånad</th>
            <th>Returneras</th>
            <th>Återlämnad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var loan in Model.Loans)
            {

                if (loan.Member != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => loan.Member.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => loan.BookCopy.Book.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => loan.DateOfLoan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => loan.DateOfReturn)
                        </td>
                        @if (loan.Returned)
                        {
                            <td style="background-color: forestgreen; text-align: center">
                                <b style="color: white">JA</b>
                            </td>
                        }
                        else if (!loan.Returned && loan.DateOfReturn < DateTime.Today.ToLocalTime())
                        {
                            <td style="background-color: #9b0202; text-align: center">
                                <b style="color: white">NEJ</b>
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center">
                                <b>NEJ</b>
                            </td>
                        }
                        <td>
                            @if (!loan.Returned)
                            {
                                <a class="btn btn-success" asp-controller="Loans" asp-action="Return" asp-route-id="@loan.Id">Returnera</a>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
